<div class="container-fluid">
  <br><br>
  <div class="row ">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 " style="background-color: #fff">
      <div class="row">
        <div class="col-lg-11">
          <b>{{ tilulo }} </b>
        </div>
        <div class="col-lg-1 text-right">
          <button type="button" class="btn btn-success btn-circle btn-xl" (click)="openModal();" data-toggle="modal"
                  data-target="#modalTarefa" style="border-radius: 1.25rem;">
            <i class=""><strong>+</strong></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3">
          <input class="form-control input-sm float-right" type="text" name="search" placeholder="search" [(ngModel)]="filter"/>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover">
           <thead>
              <tr>
                <th>Titulo</th>
                <th></th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let task of tasks| filter:filter; let i = index">
                <td>{{ task.title}}</td>
                <td >
                  <button class="btn btn-warning btn-sm float-right" (click)="openModal(task);"  data-toggle="modal" data-target="#modalTarefa">Editar</button>
                  <button class="btn btn-danger btn-sm float-right" (click)="onDelete(task);">Excluir</button>
                </td>
              </tr>
           </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Nova Tarefa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label  class="form-control-label">Titulo: </label>

            <input type="text" class="form-control" [(ngModel)]="modell.title" name="title">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="saveTask(modell)">Salvar</button>
      </div>
    </div>
  </div>
</div>
